.buttons{
    text-align: right;
}

.tableForm{
    padding: 25px;
    border-radius: 25px;
}

.containerColor{
    background-color: #c5df91;
}

.fullColor{
    background-color:  #a5c074;
}
